html {
  scroll-behavior: smooth;
}

#home-page {
  background-color: #ffffff;
}

.main-header {
  background-color: #000000;
}

#portofolio {
  background-color: #ffffff;
}

#portofolio-judul {
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
}
